body{
    background-color: #ff1493;
    font-family: 'Nerko One', cursive;
}

p{
    margin-top: 10px;
}

.cherry-button{
    margin-top: 20px;
}

.fuerte-declaracion{
    margin-top: 20px;
    color: white;
}

#cherries {
    margin-top: 50px;
}