body{
    background-color: #ff1493;
    font-family: 'Nerko One', cursive;
}

p{
    margin-top: 10px;
}

.cherry-button{
    margin-top: 20px;
}

.fuerte-declaracion{
    margin-top: 20px;
    color: white;
}

#cherries {
    margin-top: 50px;
}

#image-viernes{
    width: 100%;
}

#image-5anios{
    width: 100%;
}

@media (max-width: 580px){
    .btn{
        margin-bottom: 10px;
    }
}